.element {
    margin-bottom: 30px;
    filter: drop-shadow(0 0 1em rgba(59, 121, 246, 0.15));
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.title {
    margin-bottom: 10px;
}

.input {
    background-color: #171717;
    border: 1px solid #272727;
    border-radius: 8px;
    font-size: 16px;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    color: gray;
}

.input:focus {
    outline: none;
    color: white;
    border-color: rgba(59, 121, 246, 0.55);
}