.title {
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.emptyState {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}